<style>
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margine:0;
    
}

input[type=submit]:hover {
    background-color: #45a049;
    
}

.container {
    border-radius: 5px;
    background-color: #a8abaf;
    padding: 20px;
    width:50%;
    float:center;
    margin-top:100px;
}

</style>
{{registrationSuccess}}
{{message}}
{{error.message}}
<body></body>
<form name="loginForm" novalidate>
<div class="container"> 
<label>Enter Username</label> <input type="text" name="username" ng-model="user.username" placeholder="Username" required><br>
 <p ng-show="loginForm.username.$invalid && loginForm.username.$dirty" color="red">Username cannot be blank</p>
 
 <label> Enter Password</label> <input type="password" name="password" ng-model="user.password" placeholder="Password" required
   onmousedown="this.type='text'" onmouseup="this.type='password'" onmousemove="this.type='password'"><br>
<p ng-show="loginForm.password.$invalid && loginForm.username.$dirty" color="red">Password cannot be blank</p>
<input type="submit" value="login" ng-disabled="loginForm.$invalid" ng-click="login()">

 
 
</div>
</form>